
.alert {
	&.alert-default {
		background: $silver-light;
		color: $light;
	}
	border: 1px solid transparent;
	font-style: oblique;
	margin-bottom: 12px;
	strong {
		color: inherit;
		font-style: normal;
	}
}