@include font-face-woff(symbols,"../fonts/velllum-symbols/velllum-symbols.woff");

$symbols: (
  "down":"A",
  "up":"B",
  "left":"C",
  "right":"D",
  "horizontal":"E",
  "vertical":"F",
  "down-line":"a",
  "up-line":"b",
  "left-line":"c",
  "right-line":"d",
  "horizontal-line":"e",
  "vertical-line":"f",
  "after":"g",
  "before":"h",
  "previous":"i",
  "next":"j",
  "more":"k",
  "context":"l",
  "close":"m",
  "close-small":"x",
  "clear":"n",
  "reload":"o",
  "plus":"p",
  "minus":"q",
);

@mixin icon-inline(){
  vertical-align: middle;
  display: inline-block;
  height: 10px;
  width: 20px;
  &.symbol-large {
    width: 40px;
    &:after {
      font-size: 40px;
      top: -15px;
    }
  }
}

[data-symbol] {
  @include icon-font(symbols);
  @include icon-inline();
}

@each $var, $glyph in $symbols {
  [data-symbol="#{$var}"]:after { content: "#{$glyph}"; }
}

@mixin icon-symbol($name){
  @each $var, $glyph in $symbols {
    @if $var == $name {
      @include icon-font(symbols,$glyph);
    }
  }
}
