@include font-face-woff("Velllum Arrows","../fonts/velllum-arrows/VelllumArrows-Regular.woff");
@include font-face-woff("Velllum Arrows","../fonts/velllum-arrows/VelllumArrows-Bold.woff",bold);

$arrows: (
	"up":"a","right":"b","down":"c","left":"d",
	"close":"e","vertical":"f","horizontal":"g",
	"north":"h","west":"i","south":"j","east":"k",
	"check":"l",
	"moveup":"m","moveright":"n","movedown":"o","moveleft":"p"
);

@mixin arrow-styles(){
	font-family: "Velllum Arrows";
	text-transform: none;
	font-style: normal;
}

@mixin arrow($type,$position:after,$large:false){
	&:#{$position} {
		@include arrow-styles;
		@each $var, $glyph in $arrows {
			@if $var == $type {
				content: " #{$glyph} ";
			}
		}
		@if $large {
			text-transform: uppercase;
		}
	}
}

[class*="arrow-"]:not([class*="arrow-before"]) {
	&:after { @include arrow-styles; }
	&.arrow-large:after { text-transform: uppercase; }
}
[class*="arrow-before-"] {
	&:before { @include arrow-styles; }
	&.arrow-large:before { text-transform: uppercase; }
}

@each $var, $glyph in $arrows {
	.arrow-#{$var}:after {content: " #{$glyph} "; }
	.arrow-before-#{$var}:before {content: " #{$glyph} "; }
}

.btn-mixin-class {
	@include arrow(check,before);
}