.row {
	@include flex-row;
	@include flex-wrap;
	@include flex-align(stretch);
	max-width: $laptop;
	margin: 0 auto;
}

.col {
	@include flex(1,0,$component-break);
	&.one { min-width: percentage(1/12); }
	&.two { min-width: percentage(2/12); }
	&.three { min-width: percentage(3/12); }
	&.four { min-width: percentage(4/12); }
	&.five { min-width: percentage(5/12); }
	&.six { min-width: percentage(6/12); }
	&.seven { min-width: percentage(7/12); }
	&.eight { min-width: percentage(8/12); }
	&.nine { min-width: percentage(9/12); }
	&.ten { min-width: percentage(10/12); }
	&.eleven { min-width: percentage(11/12); }
	&.twelve { min-width: percentage(12/12); }
}

.pad {
	padding: $grid-gutter-width/2;
}