@mixin btn-colors($bg,$color,$color-active:$color) {
	background: $bg;
	color: $color;
	@include active {
		color: $color-active;
		background: $bg;
		@content;
	}
}

.label {
	font-weight: bold;
	display: block;
	margin-top: .5em;
}

.btn, .input {
	@include transitions;
	@include font-size-base;
	-webkit-appearance: none;
	height: $component-height-base;
	padding: $padding-base-vertical $padding-base-horizontal;
	line-height: $line-height-base;
	border-radius: $border-radius-base;
	display: inline-block;
	cursor: pointer;
	&-lg {
		@include font-size-large;
		height: $component-height-large;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
	&-sm {
		@include font-size-small;
		height: $component-height-small;
		padding: $padding-small-vertical $padding-small-horizontal;
	}
}

.btn {
	text-align: center;
	border-radius: $border-radius-base;
	&-block { display: block; }
	&-default { @include btn-colors($btn-default-bg,$btn-default-color,$dark); }
	&-primary { @include btn-colors($btn-primary-bg,$btn-primary-color); }
	&-success { @include btn-colors($btn-success-bg,$btn-success-color); }
	&-warning { @include btn-colors($btn-warning-bg,$btn-warning-color); }
	&-danger { @include btn-colors($btn-danger-bg,$btn-danger-color); }
	&-info { @include btn-colors($btn-info-bg,$btn-info-color); }
	&-red { @include btn-colors($red,white); }
	&-orange { @include btn-colors($orange,white); }
	&-yellow { @include btn-colors($yellow,white); }
	&-green { @include btn-colors($green,white); }
	&-blue { @include btn-colors($blue,white); }
	&-purple { @include btn-colors($purple,white); }
	&-navy { @include btn-colors($navy,white); }
	&-text { background: transparent; color: inherit; }
	&-link { background: transparent; color: $link; }
	&-text, &-link { padding-left: .25em; padding-right: .25em; }
	&-white {
		@include shadow;
		@include btn-colors(white,$normal,$dark){
			@include shadow(10px);
		};
	}
	&-outline {
		color: inherit !important;
		&:before {
			content: '';
			@include fill;
			opacity: .25;
			border: 1px solid;
			@include transitions;
		}
		@include active {
			&:before { opacity: 1; }
		}
	}
}

.input {
	width: 100%;
	display: block;
	color: $input-color;
	background: $input-bg;
	@include placeholder($input-color-placeholder);
	&:hover {
		background: $input-bg-hover;
	}
	&:focus {
		background: white;
		@include shadow(5px,$brand-primary);
	}
}

textarea.input {
	resize: vertical;
	overflow: hidden;
}


.btns {
	@include clear;
	margin: .75rem -.25rem;
	.btn {
		display: block;
		float: left;
		margin: .25rem;
	}
}


.fields {
	@include flex-row;
	@include flex-wrap;
	margin: 0 -.5rem;
	.field {
		margin: 0;
		@include flex(1,0,200px);
		padding: 0 .5rem .5rem;
	}
}

