.mosaic {
	margin: 0 $component-buffer/-2;
	.mosaic-columns {
		@include flex;
		@include flex-row;
		@include flex-stretch;
		@include flex-wrap;
	}
	.mosaic-rows {
		@include flex;
		@include flex-column;
		@include flex-stretch;
	}
	.mosaic-column {
		@include flex-width(1,1,$component-break);
		@for $i from 1 through 12 { &.mosaic-column-#{$i} { @include flex-width(#{$i},1); } }
	}
	.mosaic-row {
		@include flex-height(1,1);
		@for $i from 1 through 12 { &.mosaic-row-#{$i} { @include flex-height(#{$i},1); } }
	}
	.mosaic-item {
		padding: $component-buffer/2;
		@include flex;
		@include flex-column;
		@include flex-stretch;
		> * {
			@include flex-width(1,1,100%);
			@include flex-height(1,1,100%);
			margin: 0;
		}
	}
}

