$section-buffer: 10px;
$section-basis: 960px;

@mixin section-content-variant($class) {
	&.sections-#{$class} .section .section-content,
	.section .section-content.section-#{$class} {
		@content;
	}
}

@mixin section-padding-vw($v,$h){
	@if $v { padding-top: $v; padding-bottom: $v; }
	@if $h { padding-left: $h; padding-right: $h; }
	@include max-phablet {
		@if $v { padding-top: ( $phablet * strip-unit($v) / 100 ); padding-bottom: ( $phablet * strip-unit($v) / 100 ); }
	}
	@include display {
		@if $v { padding-top: ( $desktop * strip-unit($v) / 100 ); padding-bottom: ( $desktop * strip-unit($v) / 100 ); }
		@if $h { padding-left: ( $desktop * strip-unit($h) / 100 ); padding-right: ( $desktop * strip-unit($h) / 100 ); }
	}
}

.sections {
	@include flex-row;
	@include flex-wrap;
	@include flex-align(stretch);
	.section {
		@include flex(1,1,100%);
		@include flex-row;
		@include flex-align(stretch);

		&.section-full { @include flex(1,1,($section-basis/1)); min-width: percentage(1/1); }
		&.section-half { @include flex(1,1,($section-basis/2)); min-width: percentage(1/2); }
		&.section-third { @include flex(1,1,($section-basis/3)); min-width: percentage(1/3); }
		&.section-quarter { @include flex(1,1,($section-basis/4)); min-width: percentage(1/4); }
		&.section-fifth { @include flex(1,1,($section-basis/5)); min-width: percentage(1/5); }
		&.section-sixth { @include flex(1,1,($section-basis/6)); min-width: percentage(1/6); }

		@for $i from 1 through 12 {
			&.section-#{$i} { @include flex(1,1,($i*$section-basis/12)); min-width: percentage($i/12); }
		}
		.section-content {
			width: 100%;
			@include flex-column;
			.section-body {
				@include section-padding-vw(6vw,7vw);
				@include flex(1,0,auto);
			}
			.section-header {
				@include flex(1,0,auto);
			}
			.section-footer {
				@include flex(0,0,auto);
			}
		}
	}
}