.carousel {
	.carousel-control {
		background: transparent;
		&:after {
			@include middle;
			width: 1em;
			height: $line-height-base * 1em;
			font-size: 2rem;
		}
	}
	.carousel-indicators {
		bottom: 10px;
		li {
			background: $carousel-indicator-active-bg;
			opacity: .25;
			@include transitions;
			border: 0;
			width: 8px;
			height: 8px;
			margin: 0 2px;
			&.active {
				opacity: 1;
			}
		}
	}
	.carousel-inner {
		.item {
			img {
				width: 100%;
			}
		}
	}
	&.carousel-dark {

	}
}