
.label {
	font-weight: bold;
	display: block;
	margin-top: .5em;
}

.btn, .input {
	@include transitions;
	@include font-size-base;
	-webkit-appearance: none;
	height: $component-height-base;
	padding: $padding-base-vertical $padding-base-horizontal;
	line-height: $line-height-base;
	display: inline-block;
	cursor: pointer;
}

.btn-lg, .input-lg {
	@include font-size-large;
	height: $component-height-large;
	padding: $padding-large-vertical $padding-large-horizontal;
}

.btn-sm, .input-sm {
	@include font-size-small;
	height: $component-height-small;
	padding: $padding-small-vertical $padding-small-horizontal;
}

.btn {
	word-spacing: 0;
	text-align: center;
	border-radius: $border-radius-base;
	&-block { display: block; }
	&-default { background: $btn-default-bg; color: $btn-default-color; }
	&-white { background: white; color: $normal; @include shadow; }
	&-primary { background: $btn-primary-bg; color: $btn-primary-color; }
	&-success { background: $btn-success-bg; color: $btn-success-color; }
	&-warning { background: $btn-warning-bg; color: $btn-warning-color; }
	&-danger { background: $btn-danger-bg; color: $btn-danger-color; }
	&-info { background: $btn-info-bg; color: $btn-info-color; }
	&-red { background: $red; color: white; }
	&-orange { background: $orange; color: white; }
	&-yellow { background: $yellow; color: white; }
	&-green { background: $green; color: white; }
	&-blue { background: $blue; color: white; }
	&-purple { background: $purple; color: white; }
	&-navy { background: $navy; color: white; }
	&-text { background: transparent; color: inherit; }
	&-link { background: transparent; color: $link; }
	&-outline {
		&:before {
			content: '';
			@include fill;
			opacity: .333;
			border: 1px solid;
			@include transitions;
		}
		@include active {
			&:before { opacity: 1; }
		}
	}
}

.input {
	width: 100%;
	display: block;
	color: $input-color;
	background: $input-bg;
	@include placeholder($input-color-placeholder);
	&:hover {  background: $input-bg-hover; }
	&:focus { background: white; @include shadow(5px,$brand-primary); }
}

textarea.input {
	resize: vertical;
	overflow: hidden;
}


.btns {
	word-spacing: .5rem;
	margin: 1rem 0;
	@include bookend;
}

.fields {
	@include flex-row;
	@include flex-wrap;
	margin: 0 -.5rem;
	.field {
		@include flex(1,0,200px);
		padding: 0 .5rem .5rem;
	}
}

