.icon {
	font-size: $icon-size;
	top: -1px;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	-webkit-backface-visibility: hidden; 
	@include transform(translateZ(0));
	&-left {
		left: -1em*(3/24);
	}
	&-right {
		left: 1em*(3/24);
	}
	use {
		fill: currentColor;
	}
	&-middle {
		margin-top: -.5em;
		margin-bottom: -.5em;
	}
	&-md {
		$icon-scale: 1.5;
		font-size: $icon-size*$icon-scale;
		@include transform((scale($icon-scale) translateZ(0)),(0 0));
	}
	&-lg {
		$icon-scale: 2;
		font-size: $icon-size*$icon-scale;
		@include transform((scale($icon-scale) translateZ(0)),(0 0));
	}
	&-bold {
		use {
			stroke: currentColor;
			stroke-width: 1px;
			@include transform( translateX(0.5px) translateY(0.5px) );
		}
	}
}