*, *:before, *:after {
	position: relative;
	outline: none !important;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: grayscale;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	@include font-size-root;
}

body {
	background: $body-bg;
	&:not(.transparent) {
		background: $body-bg;
	}
}