*, *:before, *:after {
  position: relative;
  outline: none !important;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	@include font-size-root;
}

body, *, *:before, *:after {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: grayscale;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background: $body-bg;
	&:not(.transparent) {
		background: $body-bg;
	} 
}

