* { @include line-height($line-height-base); text-align: inherit; }
body {
	@include font-size-base;
	font-family: $font-family-base;
  color: $text-color;
}

// ELEMENTS -------------------------------------------------------

a, .a {
	cursor: pointer;
	color: $link-color;
	text-decoration: none; 
	@include active {
		text-decoration: none;
		color: $link-hover-color;
	}
}
i, em, .i,, .em, .text-italic { font-style: oblique; }
b, strong, .b, .strong, .text-bold { font-weight: bold; }

// MARGINS -------------------------------------------------------

hr { margin: 3em 0; }
iframe { margin: 0; }
ul, ol, p { margin: 2rem 0; }
#{h()}, blockquote { margin: 2em 0 .5em; }
#{h()}, blockquote, ul, ol, p, hr { @include bookend; }
ul, ol { padding-left: 1.25em; }
dl { dt + dd { margin-bottom: 1em; } }

// SPACING -------------------------------------------------------

.trim { @include trim; }
.snug { @include snug; }
.compact { @include compact; }
.condensed { white-space: nowrap; width: 1px; }
.nowrap { @include min-mini(){ white-space: nowrap; } }
.ellipsis { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.margin, .margin-top { margin-top: 2em; }
.margin, .margin-bottom { margin-bottom: 2em; }

.margin-small, .margin-small-top { margin-top: 1em; }
.margin-small, .margin-small-bottom { margin-bottom: 1em; }

.flush, .flush-bottom { margin-bottom: 0; }
.flush, .flush-top { margin-top: 0; }

// SIZES -------------------------------------------------------

#{h(1)} { @include font-size-h1; }
#{h(2)} { @include font-size-h2; }
#{h(3)} { @include font-size-h3; }
#{h(4)} { @include font-size-h4; }
#{h(5)} { @include font-size-h5; }
#{h(6)} { @include font-size-h6; }
blockquote { @include clean; font-size: inherit; }
.text-small, small { @include font-size-small; }
.text-small { @include font-size-small; }
.text-large { @include font-size-large; }
.text-larger { @include font-size-larger; }
.text-largest { @include font-size-largest; }
.text-huge { @include font-size-huge; }
.text-huger { @include font-size-huger; }
.text-hugest { @include font-size-hugest; }

// ALIGNMENT -------------------------------------------------------

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

@include large(){
	.text-center-large { text-align: center !important; }
	.text-right-large { text-align: right !important; }
	.text-left-large { text-align: left !important; }
}

@include small(){
	.text-center-small { text-align: center !important; }
	.text-right-small { text-align: right !important; }
	.text-left-small { text-align: left !important; }
}
