.fill { @include fill; }
.fullscreen { @include fill; position: fixed; }

.clear { @include clear; }
.clean { @include clean; }
.component { @include component; }
.transitions { @include transitions(.5s); }

.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }

.invisible { visibility: hidden; }
.hidden { display: none; }
