
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	@include font-size-root;
}

body, *, *:before, *:after {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: grayscale;
}

*, *:before, *:after {
  position: relative;
  //@include transition(none .2s cubic-bezier(0,.5,.5,1));
  outline: none !important;
}

body,html { width: 100%; height: 100%; }

iframe { margin: 0; }

.page { background: white; }

body {
	position: relative;
	background: $body-bg;
	&.transparent {
		&, .page { background: transparent; }
	}
	&.white {
		background: white;
	}
}

.transitions { @include transitions(.5s); }
.object { @include shadow; }