{% unless page.hidefooter %}
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-content">
						<div class="footer-links">
							<ul>
								<li><a href="{{site.baseurl}}/about" class="btn btn-text btn-sm btn-slim">about</a></li>
								<li><a href="https://twitter.com/averyj" target="_blank" class="btn btn-text btn-sm btn-slim">@averyj</a></li>
								<li><a href="https://twitter.com/somegoodpixels" target="_blank" class="btn btn-text btn-sm btn-slim">@somegoodpixels</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
{% endunless %}