<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="{{site.namespace}}">
	<head>
		{% include options/settings.html %}
		{% include options/meta.html %}
		{% include options/scripts.html %}
		{% include options/styles.html %}
		<style>
			.code pre { border-top-left-radius: 0; border-top-right-radius: 0; margin: 0; }
		</style>
	</head>
	<body class="bg-silver-light">
		{% assign specs = site.specs | where: 'type',page.type | sort: 'order' | reverse | group_by: 'section' %}
		<div class="container" style="padding: 80px 0;">
			<div class="row">
				{% if page.type != 'layouts' %}
					<div class="col-md-3">
						<ul class="nav nav-pills nav-stacked">
							{% for type in specs %}
								<li>
									<a href="#{{ type.name | slugify }}">{{ type.name | capitalize }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				<div class="{% if page.type != 'layouts' %}col-md-9{% else %}col-md-12{% endif %}">
					{% for type in specs %}
						<hr/>
						<h2 id="{{ type.name | slugify }}" class="h1 margin-bottom">{{ type.name | capitalize }}</h2>
						{% assign entries = type.items | sort: "title" %}
						{% for entry in entries %}
							{% include content/spec.html %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		<div>
	</body>
</html>
