<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		{% include settings/meta.html %}
		{% include settings/scripts.html %}
		{% include settings/styles.html %}
	</head>
	<body>
		{% include content/icons.html %}
		<div class="container" style="padding: 80px 0;">
			<div class="row">
				<div class="col-lg-3 three col">
					<div class="pad">
						<ul class="nav nav-pills nav-stacked">
							
							{% assign guides = site.docs | where: 'type' , 'docs' | sort: 'order' %}
							{% assign styles = site.docs | where: 'type' , page.styles | sort: 'order' | reverse | group_by: 'section' %}

							{% for guide in guides %}
								{% unless site.bootstrap == false and guide.require_bootstrap == true %}
									<li>
										<a href="{{site.baseurl}}{{guide.url}}">{{guide.title}}</a>
										{% if guide.url == page.url %}
											<ul class="nav nav-pills nav-stacked flush">
												{% for type in styles %}
													{% assign entries = type.items | sort: "title" %}
													{% for entry in entries %}
														{% unless site.jqueryui == false and entry.require_jqueryui == true %}
															<li><a href="#{{ entry.title | slugify }}">{{ entry.title | capitalize }}</a></li>
														{% endunless %}
													{% endfor %}
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endunless %}
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-9 nine col">
					<div class="pad">
						{% for type in styles %}
							<div id="{{ type.name | slugify }}"></div>
							{% assign entries = type.items | sort: "title" %}
							{% for entry in entries %}
								{% unless site.jqueryui == false and entry.require_jqueryui == true %}
									{% include styles/spec.html %}
								{% endunless %}
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		<div>
	</body>
</html>
